{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="height: 70px;"
    >
      <a class="navbar-brand" href="#">Checkbox project</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}   
            
            <li><a class="nav-link" href="{{ path('app_homepage') }}">Site list</a></li>
            <li><a class="nav-link" href="{{ path('app_logout') }}">Logout, {{ app.user.username }}</a></li>
           
        {% else %}
            

                    <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                    <li>
                      <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>

           
        {% endif %}        
      </ul>
    </nav>
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  </body>
</html>