{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="height: 70px;"
    >
      <a class="navbar-brand" href="#">Checkbox project</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}   
            
            <li><a class="nav-link" href="{{ path('app_homepage') }}">Site list</a></li>
            <li><a class="nav-link" href="{{ path('app_logout') }}">Logout, {{ app.user.username }}</a></li>
           
        {% else %}
            

                    <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                    <li>
                      <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>

           
        {% endif %}        
      </ul>
    </nav>

    {% for message in app.flashes() %}
        <div class="alert alert-success">
            {{ message.0 }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>