<div class="card">
        {% for choice in checklist %}
                <div id="heading_{{ choice.id }}" class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <input type='checkbox'
                                       data-num="{{ choice.id }}"
                                       data-parent = "{{ choice.parent_id }}"
                                       data-href="{{ path('user_do_check', {id: site.id}) }}"
                                       onchange='userDoCheck({{ choice.id }}, $(this))'
                                        {% if choice.isDone %} checked{% endif %}

                                />
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapse_{{ choice.id }}" aria-expanded="false" aria-controls="collapse_{{ choice.id }}">
                                    {{ choice.name|raw  }}
                                </button>
                            </div>
                            <div class="col-md-6">
                                <span class="float-right">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_{{ choice.id }}" aria-expanded="false" aria-controls="collapse_{{ choice.id }}">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                </div>
                <div id="collapse_{{ choice.id }}" class="collapse" aria-labelledby="heading_{{ choice.id }}">

                    <div class="card">
                        <div class="card-body">
                            {{ choice.description|raw  }}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% if child is defined %}
                            {% for child in choice.children %}
                                <li class="list-group-item">
                                    <input type='checkbox'
                                           data-num="{{ child.id }}"
                                           data-parent = "{{ child.parent_id }}"
                                           data-href="{{ path('user_do_check', {id: site.id}) }}"
                                           onchange='userDoCheck({{ child.id }}, $(this))'
                                            {% if child.isDone %} checked{% endif %}
                                           />
                                    {{ child.description }}
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
        {% endfor %}
</div>
