{# templates/checklist/check.html.twig #} 
{% extends 'base.html.twig' %}

{% block title %}{{ 'Check Site'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-light mb-3 mt-3">
              <div class="card-body">
                <div class="card-header">{{ 'Check Site'|trans }}</div>
                    <table class="table">
                        <tr>
                            <th>Site:</th>
                            <td><a href="http://{{ site.name}}">{{ site.name}}</a></td>
                        </tr>
                        <tr>
                            <th>Comment:</th>
                            <td>{{ site.comment|raw  }}</td>
                        </tr>
                     </table>   
                    {{ include('checklist/_form.html.twig', {'button_label': 'Save'|trans}) }}
                    <a href="{{ path('app_homepage') }}">{{ 'Back to list'|trans }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>                  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/user_check.js')}}"></script>
{% endblock %}